# IDEA
.idea/
*iml

# CMake
cmake-build-debug/
cmake-build-release/

# File-based project format:
*.iws

# MacOS:
*.DS_Store

# Build artifacts:
out/
.gradle/
classes/
build/

# mpeltonen/sbt-idea plugin
.idea_modules/

input.xml
output.txt
